@font-face {
    font-family: "Plumb-Bold";
    src: url("../../public/fonts/PlumbBold/Plumb-Bold.eot");
    src: url("../../public/fonts/PlumbBold/Plumb-Bold.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/PlumbBold/Plumb-Bold.ttf") format("truetype"),
        url("../../public/fonts/PlumbBold/Plumb-Bold.woff") format("woff"),
        url("../../public/fonts/PlumbBold/Plumb-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Plumb-Normal";
    src: url("../../public/fonts/PlumbNormal/PlumbC.eot");
    src: url("../../public/fonts/PlumbNormal/PlumbC.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/PlumbNormal/PlumbC.ttf") format("truetype"),
        url("../../public/fonts/PlumbNormal/PlumbC.woff") format("woff"),
        url("../../public/fonts/PlumbNormal/PlumbC.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
